 <textarea>
    <!-- 添加角色 -->
    <Drawer title="角色维护" :closable="true" v-model="state_show" width="500">
        <Form ref="roleSelected" :model="info" :rules="rules" :label-width="120">
            <FormItem label="角色编码" prop="name">
                <Input type="text" v-model="info.name" placeholder="请输入角色" :readonly="info.readonly" />
                <span style="color: rgba(0, 0, 0, 0.65);">不能包含中文,如admin</span>
            </FormItem>
            <FormItem label="角色名称" prop="title">
                <Input type="text" v-model="info.title" placeholder="请输入名称" />
            </FormItem>
            <FormItem label="层级" prop="level">
                <Input type="text" v-model="info.level" placeholder="请输入层级" />
            </FormItem>
            <FormItem label="欢迎页面" prop="welcome">
                <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="info.welcome" placeholder="请输入角色描述" />
            </FormItem>
            <FormItem label="备注" prop="remarks">
                <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="info.remarks" placeholder="请输入角色描述" />
            </FormItem>
            <FormItem>
                <Button @click="state_show=false" style="margin: 0 16px 0 15%">关闭</Button>
                <Button type="primary" @click="doSubmit('roleSelected')">提交</Button>
                <Poptip v-if="0!=rid" confirm title="确定要删除该角色?" @on-ok="doRemove">
                    <Button type="error">删除</Button>
                </Poptip>
            </FormItem>
        </Form>
    </Drawer>
</textarea>
<script>
    Rap.define([], {
        data() {
            return {
                state_show: false,
                rid: 0,
                info: {
                },
                rules: {
                    'name': [
                        { required: true, message: '请输入角色名', trigger: 'blur' },
                        { type: 'string', min: 2, message: '最少输入两个字符', trigger: 'blur' }
                    ],
                    level:[
                    { required: true, message: '请输入层级', trigger: 'blur' },
                    ]
                }
            }
        },
        methods: {
            onAdd() {
                this.rid = 0;
                this.info = {
                };
                this.state_show = true;
            },
            onShow(rid) {
                this.rid = rid;
                this.state_show = true;
                this.info = {};
                instance_axios({
                    method: 'post',
                    url: 'api/sys/role/show.do',
                    data: {
                        id: this.rid
                    }
                }).then(res => {
                    console.info(res);
                    let root = res.data;
                    if (200 == root.code) {
                        this.info = root.data;
                        this.info = Object.assign({},this.info);
                    } else {
                        this.$Message.error(root.message);
                        this.info = Object.assign({},this.info);
                    }
                }).catch(err => {
                    console.log(err)
                    this.$Message.error('提取角色【' + rid + '】信息失败')
                });
            },
            doRemove() {
                instance_axios({
                    method: 'post',
                    url: 'api/sys/role/delete.do',
                    data: {
                        id: this.rid
                    }
                }).then(res => {
                    let data = res.data
                    if (data.code === 200) {
                        this.$Message.success('删除角色数据成功');
                        this.$emit('data-change', {});
                        this.state_show = false;
                        // this.getRoleListDataHandle()
                    } else {
                        this.$Message.error(data.message)
                    }
                })
            },
            doSubmit(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        if (0 == this.rid) {
                            instance_axios({
                                method: 'post',
                                url: 'api/sys/role/insert.do',
                                data: {
                                    info: this.info
                                }
                            }).then(res => {
                                let data = res.data;
                                if (data.code === 200) {
                                    this.$Message.success('添加角色数据成功');
                                    this.$emit('data-change', {});
                                } else {
                                    this.$Message.error(data.message)
                                }
                            })
                        } else {
                            instance_axios({
                                method: 'post',
                                url: 'api/sys/role/update.do',
                                data: {
                                    info: this.info,
                                    id: this.rid
                                }
                            }).then(res => {
                                let data = res.data
                                if (data.code === 200) {
                                    this.$Message.success('修改角色数据成功');
                                    this.$emit('data-change', {});
                                    // this.getRoleListDataHandle()
                                } else {
                                    this.$Message.error(data.message)
                                }
                            })
                        }
                    } else {
                        this.$Message.error('校验失败，请重新填写')
                    }
                })
            }
        },
        created() {

        },
        init: function () {
        }
    })

</script>