<textarea>
  <textarea :id="id">{{source}}</textarea>
</textarea>
<script>
  Rap.define([], {
    props: ['cell', 'source'],
    data() {
      return {
        id: '',
        fullTool: true
      };
    },
    created: function () {
      this.id = '_' + this.uuid();
      console.log(this.id);
    },
    mounted() {
      var height = this.height;
      if (undefined == height || null == height || 0 == height) {
        height = 200;
      }
      if ($('#' + this.id).length > 0) {
        if (undefined != this.fullTool && 1 == this.fullTool) {
          CKEDITOR.replace(this.id, { height: height, width: "100%", toolbar: "Full" });
        } else {
          CKEDITOR.replace(this.id, { height: height, width: "100%", toolbar: "Basic" });
        }
      }
      // CKEDITOR.instances[this.id].on('change', function () {
      //   console.log('内容变化了');
      // })

      // CKEDITOR.instances[this.id].document.on('change:data', function () {
      //           // $("#" + editorId).val(editor.getData());
      //           console.log('内容变化了');
      //       });
    },
    methods: {
      uuid() {
        function S4() {
          return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + S4() + S4() + S4() + S4() + S4() + S4());
      },
      S4() {
        return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
      },
      take() {
        return CKEDITOR.instances[this.id].getData();
      }
    },
    watch: {
      source: {
        handler(new_val) {
          if (undefined != this.source && '' != this.source) {
            CKEDITOR.instances[this.id].setData(this.source);
          }
        },
        immediate: false
      }
    },
    // methods: {
    //   onChange(date) {
    //     console.log('date-change' + date);
    //     this.$emit("change", { 'field': this.cell.name, 'value': new Date(date).getTime()/1000 })
    //   }
    // }
  });
</script>