<textarea>
  <Modal v-model="state_show" title="考试设置" width="800">
    <Form ref="info" :model="info" :rules="rules" :label-width="180" >
      <Row>
        <Col span="24">
          <FormItem label="名称" prop="name">
            <Input type="text" v-model="info.name"/>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="24">
          <FormItem label="课程" prop="courseId">
            <Select v-model="info.courseId" clearable filterable label-in-value="true" @on-change="onCourseChange">
              <Option v-for="item in courses" :value="item.id+''" :key="item.id">{{ item.name }}</Option>
            </Select>
          </FormItem>
        </Col>
      </Row>
      <Row>
        <Col span="12">
          <FormItem label="开始日期" prop="startTime">
            <DatePicker @on-change="onStartDateChange" 
              type="datetime" :value="info.startTime" placeholder=""></DatePicker>
          </FormItem>
        </Col>
        <Col span="12">
          <FormItem label="结束日期" prop="endTime">
            <DatePicker @on-change="onEndDateChange" 
              type="datetime" :value="info.endTime" placeholder=""></DatePicker>
          </FormItem>
        </Col>
      </Row>
      <FormItem label="试卷" prop="paperId">
        <Select v-model="info.paperId" clearable filterable label-in-value="true" @on-change="onPaperChange">
          <Option v-for="item in papers" :value="item.id+''" :key="item.id">{{ item.name }}</Option>
        </Select>
      </FormItem>
      <FormItem>
        <Button v-if="'view'!==ope" type="primary" @click="doSubmit('info')">确认</Button>
      </FormItem>
    </Form>
  </Modal>
  </textarea>
<script>
  Rap.define([], {
    props: ['classId', 'classInfo', 'auth', 'ope'],
    data: function () {
      return {
        papers: [],
        courses: [],
        levels: [],
        info: {
          // startTime: new Date(),
          // endTime: new Date(),
        },
        rules: {
          startTime: [
            { required: true, message: '请选择开始日期', trigger: 'change' }
          ],
          endTime: [
            { required: true, message: '请选择结束日期', trigger: 'change' }
          ],
          paperId: [
            { required: true, message: '请选择试卷', trigger: 'blur' }
          ],
          name: [
            { required: true, message: '请填写名称', trigger: 'blur' }
          ],
        },
        state_show: false,
        classId: 0,
        id: 0
      }
    },
    created: function () {
      this.onInit();
    },
    mounted() {
    },
    methods: {
      onCourseChange(json) {
        console.log(JSON.stringify(json));
        this.info.courseName = json.label;
      },
      onPaperChange(json) {
        this.info.paperName = json.label;
      },
      onAdd(tid) {
        this.state_show = true;
      },
      onShow(row) {
        this.id = row.id;
        this.info = int2str(row);
        this.info = Object.assign({}, this.info);
        this.state_show = true;
      },
      onStartDateChange(date, type) {
        console.log(date);
        this.info.startTime = date;
        // this.info.startTime = new Date(date).getTime() / 1000 + '';
      },

      onEndDateChange(date, type) {
        this.info.endTime = date;
        // this.info.endTime = new Date(date).getTime() / 1000 + '';
      },
      async doSubmit(name) {
        console.log(JSON.stringify(this.info));
        this.$refs[name].validate((valid) => {
          
          if (valid) {
            var info = Object.assign({}, this.info);
            if (info.startTime > info.endTime) {
              this.$Message.error('开始日期不能大于结束日期');
              return;
            }

            delete info._index;
            delete info._rowKey;

            if (0 == this.id) {
              this.doInsert(info);
            } else {
              this.doUpdate(info);
            }
          } else {
            this.$Message.warning('部分项为空');
          }
        });

      },
      doInsert(json) {
        console.log("insert");
        instance_axios({
          method: 'post',
          url: 'api/manage/train-class-exam/add.do',
          data: {
            className: this.classInfo.name,
            info: json,
            classId: this.classId
          }
        }).then(res => {
          let root = res.data
          if (root.code === 200) {
            this.$Message.success('成功设置');
            this.$emit('data-change', {});
            // this.getRoleListDataHandle()
          } else {
            this.$Message.error(root.message)
          }
        })
      },
      doUpdate(json) {
        console.log("insert2");
        instance_axios({
          method: 'post',
          url: 'api/manage/train-class-exam/update.do',
          data: {
            className: this.classInfo.name,
            info: json,
            classId: this.classId,
            id: this.id
          }
        }).then(res => {
          let root = res.data
          if (root.code === 200) {
            this.$Message.success('成功设置');
            this.$emit('data-change', {});
            // this.getRoleListDataHandle()
          } else {
            this.$Message.error(root.message)
          }
        })
      },
      onInit() {
        exam_axios({
          method: 'post',
          url: 'api/manage/testpaper/all.do',
          data: {
          }
        }).then(res => {
          let root = res.data
          if (root.code === 200) {
            this.papers = root.datas;
          } else {
            this.$Message.error(root.message)
          }
        })

        instance_axios({
          method: 'post',
          url: 'api/manage/train-class-course/all.do',
          data: {
            tid: this.classId
          }
        }).then(res => {
          let root = res.data
          if (root.code === 200) {
            this.courses = root.datas;
          } else if (201 == root.code) {
          } else {
            this.$Message.error(root.message)
          }
        })
      },
      onRefersh() {

      },
    },
    init: function (query, search) {
    },
    watch: {
      id: {
        handler(new_val, oldName) {
          // if (0 != new_val) {
          //   this.onRefersh();
          // }
        },
        immediate: true
      }
    }
  })
</script>
<style>
  .ivu-form-item {
    margin-bottom: 15px !important;
  }
</style>